.section {
  width: 100%;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    transition: all 0.2s;
}

.section_title {
  padding: 10px 50px;
  border-bottom: 1px solid black;

  display: flex;
  justify-content: space-between;
}

p {
  display: block;
  padding: 20px;
  background-color: rgb(235, 231, 226);
}

.text_wrapper {
  max-height: 0px;
  overflow: hidden;
  transition: all 0.2s;
}

.checker {
  position: absolute;
  opacity: 0;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 0px 5px;
  color: #777;
  border: 1px solid #8f8f8f;
  border-radius: 4px;
  min-width:80px ;
  text-align: center;
}

.checker:checked {
  background-color: aqua;
  position: relative;
  opacity: 999;
}

