.section {
  width: 100%;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.section_title {
  padding: 10px 50px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

p {
  display: block;
  padding: 20px;
  background-color: rgb(235, 231, 226);
}

.text_wrapper {
  max-height: 0px;
  overflow: hidden;
}

.checker {
  position: absolute;
  opacity: 0;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  color: #777;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.checker:checked {
  background-color: aqua;
  position: relative;
  opacity: 999;
}

h2 {
  display: table;
  width: 100%;
}
h2 label {
  display: table-cell;
  padding: 5px;

}
