header {
  background-color: #635b6c;
  height: 100px;
  display: table;
  width: 100%;
}

.head {
  display: table-cell;
  height: 50px;
  vertical-align: middle;
  padding-left: 100px;
  justify-content: space-between;
  display: f;

}

.title {
  color: white;
  font-size: 38px;
  letter-spacing: 3px;
  text-align: center;
  font-weight: 700;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: fit-content;
  display: inline-block;
  vertical-align: middle;
}

.logo {
  width: 38px;
  vertical-align: middle;
  margin-left: 20px;
}


.header_content{
  display: flex;
  width: fit-content;
  justify-content: space-between;
}

.developers{

  display: flex;
  vertical-align: middle;
  margin-top: 5px;
}

.developers label{
  color: white;
  display: block;
}